<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @coordenadoria.descricao %>
</p>

<%= link_to 'Edit', edit_coordenadoria_path(@coordenadoria) %> |
<%= link_to 'Back', coordenadorias_path %>
